body{ background-image: linear-gradient(to right,#ffffff91, rgb(7, 161, 233));
        width: 100%;
        height: 600px;
        object-fit: cover;
        background-repeat: no-repeat;
        
   }

header{ 
          text-align: Center;
        font-weight: bold;
        color:white;
}


.div1{ 
          border: 1px solid white;
          width:35%;
          text-align: center;
          padding:20px;
          position: relative;
           top:20px;
          left:400px;
          height:380px;
          z-index: 1;
          box-shadow: 3px solid lime;
          background-color: lemonchiffon;
          border-radius: 30px;
          
}

button{ 
            border:0px solid black ;
            font-size: larger;
            background-color:lightskyblue;
            border-radius: 30px;
            padding:19px;



}
button:hover{ 
              background-color:gray;
              cursor: pointer;


}


#loginbtn{ 
             width: 100%;
            
}

#input{ font-weight:bold;}
        


#id1{ padding: 5px;
      width:50%;
    
}
#id1:hover{  border}


footer{ text-align: center ;
         color: white;}